.intro {
  position: relative;
  display: flex;
  background-color: #2c8488;
  color: $color-default-white;
  min-height: 1024px;
  height: 100vh;
  width: 100%;
  flex-shrink: 0;

  &.opacity .container {
    opacity: 0;
  }

  &.opacity .section-bg{
    opacity: 0;
    transform: scale(1.5);
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 683px;
    margin: auto 0;
  }

  &__title {
    font-size: 76px;
    font-weight: 400;
    line-height: 70px;
    text-align: left;

    span {
      color: #41d0df;
    }
  }

  &__description {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    padding-top: 40px;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 145px;
      height: 1px;
      background-color: $color-default-white;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px 60px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: auto;

    span {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
    }
  }

  @include vp-1439 {
    min-height: 833px;

    &__title {
      font-size: 76px;
      line-height: 70px;
    }
  }

  @include vp-1279 {
    min-height: 768px;

    &__title {
      font-size: 60px;
      line-height: 70px;
      max-width: 580px;
    }

    &__wrapper {
      gap: 20px;
    }

    &__item svg {
      width: 71px;
      height: 71px;
    }

    &__list {
      margin-top: 20px;
    }
  }

  @include vp-1023 {
    height: auto;
    min-height: auto;
    padding: 160px 0 38px;
    background-color: transparent;

    &__title {
      font-size: 70px;
      line-height: 70px;
      max-width: 617px;
    }

    &__description {
      font-size: 16px;
      line-height: 24px;
      padding-top: 20px;
    }

    &__item {
      width: min-content;

      span {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
        text-align: center;
      }
    }
  }

  @include vp-767 {
    padding: 96px 0 40px;

    &__title {
      font-size: 38px;
      font-weight: 400;
      line-height: 41px;
    }

    &__description {
      font-size: 14px;
      font-weight: 400;
      line-height: 17.85px;
      text-align: left;
    }

    &__list {
      flex-direction: column;
      align-items: start;
    }

    &__item {
      width: auto;
      align-items: start;
    }
  }

  @include vp-374 {
    &__title {
      font-size: 32px;
      line-height: 34px;
    }

    &__description {
      line-height: 20px;
    }

    &__list {
      margin-top: 10px;
    }
  }
}
