@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Onest";
  font-display: swap;
  src: url("../fonts/Onest-Light.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Onest";
  font-display: swap;
  src: url("../fonts/Onest-Regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Onest";
  font-display: swap;
  src: url("../fonts/Onest-Medium.woff2") format("woff2");
}
